h2 {
  font-family: monospace;
  font-size: 45px;
}

body {
  font-size: 1.2rem;
  font-family: monospace;
  background-color: cadetblue;
  padding: 45px;
}

input {
  color: lightslategrey;
  font-size: 1.2rem;
  width: 100%;

}

.card {
  align-content: center;
  border: 1px solid gray;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 10px;
  margin-right: 10px;
}

.card p {
  padding: 5px;
  text-align: center;

}

.card img {
  max-height: 180px;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}